.workout-container {
    background-color: white;
}
.workout-title {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.reason-subtitle{
    letter-spacing: 1px;
    font-weight: 1000;
    font-size: 30px;
}
.reason-class-style-1{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reason-subtitle-text-1 {
    padding-left: 10%;
}
.reason-text-1 {
    padding-left: 20px;
    font-size: 17px;
}
.reason-text-2 {
    padding-right: 10%;
    font-size: 17px;
    padding-left: 20px;
}
.reason-class-style-2{
    background-color: rgb(206, 232, 241);
    color: rgb(70, 70, 70);
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image-class-2 {
    order:-1;
    padding-left: 10%;
}
.image-style{
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
@media (max-width: 990px) {
    .reason-class-style-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 10%;
    }
    .reason-class-style-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10%;
    }
    .image-class-1 {
        display: flex;
        justify-content: center;
        padding-left: 10%;
    }
    .image-class-2 {
        order: 1;
        padding-right: 10%;
    }
    .image-style {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .reason-subtitle-text-2 {
        padding-right: 5%;
    }
}